<h2>Characters</h2>

<h3>Total Fire Nation Members: <%= @total %></h3>

<section class="members-info">
  <h3>Members</h3>
  <ul>
    <% @characters.each do |character| %>
    <div id="member-<%= character.id %>">
      <b><li>Name: <%= character.name %></li></b>
      <img src="<%= character.photo_link %>" alt="Photo of <%= character.name %>"><br>
      Allies: <%= character.allies %><br>
      Enemies: <%= character.enemies %><br>
      Affiliation: <%= character.affiliation %><br>
    </div>
    <% end %>
  </ul>
</section>
